$white: #ffffff;
$grey: #313031;
$light-grey: #f5f5f5;
$white: #ffffff;
$black: #000;
$opaque-white: rgba(255,255,255,0.94);


html, body {
  width: 100%;
  height: 100%;
  background: white;
  position: relative; }

a {
  cursor: pointer; }

.login-header {
  border-radius: 0;
  width: 50%;
  height: 100%;
  border: none;
  background: #323232;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 0;
  color: #fff;
}

.login-header h2 {
  color: #AC7E5B;
  font-size: 40pt; }

.content {
  margin: 0;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 90%;
  padding: 10%; }

#space-fix {
  height: 100%;
  width: 100%; }

.return-to {
  position: fixed;
  background: #fff;
  bottom: 44%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: auto;
  border-radius: 30px;
  z-index: 0; }

.return-to img {
  width: 50px;
  height: auto;
  text-align: center; }

.return-to:hover {
  background: #AC7E5B; }

.login-register-form {
  border-radius: 0;
  border: none;
  width: 50%;
  height: 100%;
  padding: 0 0 0 0;
  background: #464646;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  color: #fff !important; }

.login-register-form form {
  position: absolute;
  text-align: center;
  width: 100%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  height: auto;
  color: #848484; }

.login-register-form form input {
  width: 70%;
  height: 50px;
  padding: 15px;
  background: #2d2d2d;
  color: #fff;
  border: none;
  margin-bottom: 15px; }

.login-register-form .submit {
  display: block;
  margin: auto;
  border: none;
  width: 100px;
  height: 50px;
  background: rgba(0, 0, 0, 0.4);
  margin-top: 20px;
  color: #fff; }

.login-register-form h1 {
  margin-bottom: 40px; }

.login-register-form .submit:hover {
  cursor: pointer;
  background: #AC7E5B; }

#register-link {
  display: block;
  padding-top: 20px; }

#register-link:hover {
  color: #AC7E5B; }

#register-form {
  display: none;
}

#register-form input {
  color: #fff;
}

@media (max-width: 1000px) {

  //Login header
  .login-header {
    width: 100%;
    height: 400px;
    position: relative;
    z-index: 1;
    color: #fff;
  }

  #login-form {
    width: 100%;
    position: relative;
    height: 500px;
    padding: 0;
  }

  #register-form {
    width: 100%;
    position: relative;
    height: 500px;
    display: block;
  }

  #return-to-login {
    display: none;
}

  #return-to-site {
    display: none;
  }

}

.map-container {
  border-radius: 0;
  border: none;
  width: 50%;
  height: 100%;
  padding: 0 0 0 0;
  background: #323232;
  position: fixed;
  top: 0;
  right: 0;
  z-index: 0;
  color: #fff !important;
  resize: horizontal;
}

#map {
  width: 100%;
  height: 500px;
}

.popular-properties {
  padding: 0 75px 75px 75px;
  background: #fff;
  width: 100%;
  position: relative; }

.popular-properties h2 {
  margin: 75px 0; }

.listing {
  text-align: center;
  background: #f5f5f5;
  margin-bottom: 40px;
  box-shadow: 1px 2px 6px #c4c4c4; }

.img-container {
  width: 100%;
  height: auto;
  background: #fff;
  padding: 25px; }

img {
  width: 200px;
}

span {
  padding: 25px; }

.listing h2 {
  margin: 0 0 10px 0; }

.districts {
  position: relative;
  background: #fff; }

.footer {
  position: relative;
  width: 100%;
  padding-top: 40px;
  background: #313031;
  color: #fff;
  text-align: center;
}

#goBack {
    display: block;
    margin: 20px 0;
}

.required .col-form-label:after { 
   content:"*";
   color:red;
}

#greetings {
    margin: 0;
    padding: 10px 25px;
}